html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}
.headpage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.headpage .head_desc_wraper{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headpage .head_desc_wraper .head_menu .link_head_desc{
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1C252E;
}
.headpage .head_desc_wraper .cart_div{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}
.headpage .head_desc_wraper .cart_div .phone_head{
    margin-right: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1C252E;
}
.headpage .head_desc_wraper .cart_div .heart_head{
    margin-right: 10px;
}
.div_sliders .item_slider .slider_item_img{
    width: 100%;
    max-height: 580px;
    object-fit: cover;
}
.div_sliders .html_code{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    max-width: 1024px;
    top: 160px;
}
.div_sliders .slider_div_product{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    top: 62px;
    right:190px

}
.html_code .wrapper_text{
    width: 410px;
}
.wrapper_text .wrapper_sl1 .wrapper_sl1_t1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 450% */
    display: flex;
    align-items: center;
    /* Main green */
    color: #79B927;
}

.wrapper_text  .wrapper_sl2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.68em;
    text-transform: uppercase;
    color: #1C252E;
}

.wrapper_text  .wrapper_sl3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #1C252E;
}

.wrapper_text .wrapper_sl4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1C252E;
    margin-bottom: 30px;
}
.wrapper_text .slider_btn{
    border: 2px solid #1C252E;
    padding: 16px;
    width: 274px;
    padding-left: 59px;
    padding-right: 60px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1C252E;
    background: white;
}
.slick-initialized .slick-slide{
    position: relative;
}

.product_top{
    margin-top:96px;
}
.top_product_title{
     width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_product_top{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 90px;
    display: flex;
    align-items: flex-end;
    color: #1C252E;
}
.div_left_product_title.text_product_type{
    display: flex;
    flex-wrap: wrap;
}
.div_left_product_title.text_product_type .typecateg{
   padding: 25px;
   display: flex;
   flex-wrap: wrap;
   cursor: pointer;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 24px;
   display: flex;
   align-items: flex-end;
   color: #1C252E;
   align-content: flex-start;
}
.typecateg.active .greenline{
    width: 100%;
    background: green;
    height: 4px;
    margin-top: 10px;
}

.product_top .top_product_row{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product_top .top_product_row .item_product{
    width: 33%;
    margin-bottom: 21px;
    position: relative;
}
.item_product .title_name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1C252E;
    width: 100%;
}
.item_product .gramm_type{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #88929E;
}
.wrap50{
    display: flex;
    flex-wrap: wrap;

}
.wrap50 div{
    width: 50%;
    position: relative;
}
.img_product{
    width: 100%;
    height: 100%;
}
.product_small{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1C252E;
}
.show_product{
    position: absolute;
    bottom: 0;
}

.item_product .price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #5B6773;
    justify-content: flex-end;
    padding-right: 49px;
}
.wrapp100{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.wrapp100.alltovar .green100{
    width: 40%;
    height: 2px;
    background: green;
}
.wrapp100 .btn_center{
    width: 20%;
    text-align: center;
}
.btn_a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 45px;
    gap: 10px;
    width: 220px;
    height: 62px;
    border: 2px solid #1C252E;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1C252E;
    text-decoration: none;
}
.item_product .div_ico_tovar{
    position: absolute;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
}

.div_ico_tovar .top_ico{
    background: #79B927;
    padding: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.our_advantages{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.title_our_advantages{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 90px;
    display: flex;
    align-items: flex-end;
    color: #1C252E;
    width:100%;
}
.wraper_our_advantages{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.img_wraper_our_advantages{
    width:462px;
}
.text_wraper_our_advantages{
    width: calc(100% - 506px);
    background: #F5F5F5;
    margin-left: 44px;
}
.adv_img{
    width:50%;
    display:flex;
    flex-wrap:wrap;
        align-items: center
}
.wrap_our_adava_item{
    display:flex;
    flex-wrap:wrap;
    display: flex;
    flex-wrap: wrap;
    padding: 48px 37px 59px 51px;
    height: 100%;
}
.div_tex_our_adv{
    width:70%;
}
.title_our_adv{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1C252E;
}
.text_our_adv{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1C252E;
}
.our_product_index{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.div_row_pr_in_t{
    width:600px
}
.div_row_pr_in_t .titl_h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.68em;
    text-transform: uppercase;
    color: #1C252E;
}
.div_row_pr_in_t .titl_h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1C252E;
}
.row100w{
    width:100%;
}
.adv_img_l{
    display: flex;
    align-content: flex-end;
    position: relative;
    top: -35px;
}

.div_row_pr_in_t .titl_t1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1C252E;
}
.btn_a.marg_l0{
    margin-left: 0;
}


.footer_div{
    width: 100%;
    height: 300px;
    background: #1C252E;
}
.wrapper_footer{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logofooter{
   margin-top: 51px;
}
.footer_r{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 80px;
    width: calc( 100% - 200px)
}
.f_menu{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.3;
    padding-left: 50px;
    text-decoration: none;
}
.left_flex{
  display: flex;
                        justify-content: flex-end;
}
.foot2{
    margin-top: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #5B6773;
}

.foot2 span{
    margin-right: 42px;
    display: flex;
    align-items: center;
}
.foot2 span img{
    margin-right: 6px;
}

.head_page{
    width: 100%;
    height:250px;
    background: #D9D9D9;
}
.head_page .div_head_page{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.head_page .div_head_page .wrapper_head_page{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #88929E;
    margin-top:90px;
}
.head_page .div_head_page .wrapper_head_page .url_notactiv{
    color: #88929E;
    text-decoration:none;
}
.head_page .div_head_page .wrapper_head_page .url_activ{
    color: #5B6773;
    font-weight: bold;
    text-decoration:none;
}

.head_page .div_head_page .wraper_h1_head{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 90px;
    color: #1C252E;
}

.head_page .div_head_page .wrap_h_foot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head_page .div_head_page .wrap_h_foot .wrap_h_foot_l{
    display: flex;
    flex-wrap: wrap;
}

.head_page .div_head_page .wrap_h_foot .wrap_h_foot_l .typecateg{
    margin-right:20px;
}
.wrap_h_foot_r{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #5B6773;
    display: flex;
}
.order_product{
    margin-left:10px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.show_wrapper_product{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.show_wrapper_product{
    width: 100%;
    margin-top:96px;
    margin-bottom:96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #88929E;
}
.show_wrapper_product .wrap_head_show .url_notactiv{
    color: #88929E;
    text-decoration:none;
}
.show_wrapper_product .wrap_head_show  .url_activ{
    font-weight: 700;
    color: #88929E;
    text-decoration:none;
}
.item_tovar{
    width: 100%;
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.item_tovar .imag_tovar{
    width: 50%;
    position: relative;
}
.item_tovar .imag_tovar .img_show{
    width: 100%;
}

.text_tovar{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
}

.text_tovar .wrapper_name{
    width: 100%;
    position: relative;

}
.text_tovar .wrapper_name .name_product{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    color: #1C252E;
}
.text_tovar .wrapper_name .text_cod_tovar{
    position: absolute;
    right: 0;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #88929E;
}
.text_tovar .div_gramm{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #88929E;
    margin-top:10px
}
.line_tovar{
  width: 100%;
  border: 1px solid #D9D9D9;
}
.text_tovar .about_tovar{
  width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1C252E;
}
.text_tovar .price{
   width: 100%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 48px;
   line-height: 120%;
   display: flex;
   align-items: flex-end;
   text-align: right;
   color: #1C252E;
}

.div_button_buy{
        background: #79B927;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 53px 9px 52px;
    margin-bottom: 5px;
    margin-left: 20px;
    cursor: pointer;
}


.wraper_cart_step1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1420px;
    margin: auto;
    margin-top:66px;
}
.right_wc_step1{
    width:530px;
    background: #F5F5F5;
}

.left_wc_step1{
     display: flex;
    flex-wrap: wrap;
       width: calc( 100% - 530px)
}
.wrapper_list_product_cart{
  width: 100%;
}
.itme_cart_img{
    width:128px;
}
.item_wc_step1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cart_go_step2{
    font-size:15px;
}

.item_cart_info_wrapper{
    width: calc( 100% - 128px);
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 35px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.item_cart_product{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1C252E;
}
.item_cart_delete{
 width: 14px;
}
.cart_about_product{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1C252E;
}
.caount_product_count{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.cout_cart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.count_product_input{
    border: 1px solid #D9D9D9;
    width:58px;
    height:40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #383838;
    text-align: center;
}
.cart_count{
    margin-left:10px;
    margin-right:10px;
}
.cart_minus{
    border: 1px solid #5B6773;
    padding: 10px;
    border-radius: 57%;
    height: 29px;
    width: 30px;
    position:relative;
    cursor: pointer;
}
.img_cart_minus{
    top: -9px;
    position: relative;
    left: -2px;
}
.cart_plus{
    border: 1px solid #5B6773;
    padding: 10px;
    border-radius: 57%;
    height: 29px;
    width: 30px;
    position:relative;
    cursor: pointer;
}
.img_cart_pluis{
     top: -4px;
    position: relative;
    left: -2px;
}

.right_wc_step1{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    max-height: 422px;
}
.lin_cart_h{
    width: 100%;
    background: #D9D9D9;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left_r_step1{
    width:50%;
}
.wrapper_cart_itog{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom:20px;
}
.wrapper_cart_itog_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 200%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.wrapper_cart_itog_price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #5B6773;
}
.wrapper_cart_itog_price_g{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 200%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #79B927;
}
.textb_h{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 163.69%;
    text-transform: uppercase;
    color: #010101;
}
.right_r_step1{
    width: calc( 50% - 10px);
    padding: 20px;
    background: white;
    margin-left: 10px;
}
.cart_p1{

}
.cart_p2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color: #1C252E;
    margin-bottom: 16px;
}
.cart_p3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1C252E;
}