{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Put your description here.">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block headpart %}{% endblock %}
</head>
<body>
    <section id="headpage" class="headpage">
        <div class="head_desc_wraper">
            <div class="logo_png">
                <a href="/" >
                    <img src="{% static 'images/png/logo.png' %}"
                         width="133"
                         height="68"
                         alt="food by BGS">
                </a>
            </div>
            <div class="head_menu">
                <a href="/" class="link_head_desc">
                    Главная
                </a>
                <a href="/products" class="link_head_desc">
                    Товары
                </a>
                <a href="#" class="link_head_desc">
                    Q&A
                </a>
                <a href="#" class="link_head_desc">
                    Статьи
                </a>
                <a href="#" class="link_head_desc">
                   О нас
                </a>
                <a href="#" class="link_head_desc">
                   Оплата и доставка
                </a>
                <a href="#" class="link_head_desc">
                   Контакты
                </a>
            </div>
            <div class="cart_div">
                <div class="phone_head">
                    +7 926 171 67 66
                </div>
                <!--
                <div class="heart_head">
                     <img src="{% static 'images/png/heart.png' %}"
                         width="24"
                         height="24"
                         alt="сравнение товара">
                </div>
                --->
                <div class="cart_head">
                     <a href="/cart">
                        <img src="{% static 'images/png/shopping-cart.png' %}"
                            width="24"
                            height="24"
                            alt="Перейти в корзину">
                     </a>
                </div>
            </div>
        </div>
    </section>
    {% block content %}{% endblock %}

    {% block footerpart %}{% endblock %}


    <section id="pagefooter" class="pagefooter">
       <div class="footer_div">
           <div class="wrapper_footer">
                <div class="logofooter">
                       <img src="{% static 'images/png/foot_logo.png' %}"
                         width="130"
                         height="66"
                         alt="Логотип">
                </div>
               <div class="footer_r">
                   <div class="row100w left_flex">
                       <a href="/#" class="f_menu">Главная</a>
                       <a href="/products" class="f_menu">Товары</a>
                       <a href="#" class="f_menu">Q&A</a>
                       <a href="#" class="f_menu">Статьи</a>
                       <a href="#" class="f_menu">О нас</a>
                       <a href="#" class="f_menu">Оплата и доставка</a>
                       <a href="#" class="f_menu">Контакты</a>
                   </div>
                    <div class="row100w left_flex foot2" style="  ">

                        <span>

                             <img src="{% static 'images/png/mail.png' %}"
                                 width="14"
                                 height="14"
                                 alt="Почта">
                            info@4ood.ru
                        </span>
                        <span>
                             <img src="{% static 'images/png/phone-call.png' %}"
                                 width="14"
                                 height="14"
                                 alt="Почта">
                          +7 926 171 67 66
                        </span>
                        <span>
                            <img src="{% static 'images/png/map.png' %}"
                                 width="14"
                                 height="14"
                                 alt="Почта">
                            Алтуфьевское ш., 27а, Москва, Россия, 129090
                        </span>
                   </div>
               </div>
           </div>
       </div>
    </section>
</body>
</html>