
{% extends "app.html" %}
{% load static %}

{% block headpart %}

{% endblock %}

{% block content %}
    <section id="head_page" class="head_page">
        <div class="div_head_page">
            <div class="wrapper_head_page">
                <a href="/" class="url_notactiv">Главная</a>
                /
                <a href="/products" class="url_activ">Корзины</a>
            </div>
            <div class="wraper_h1_head">
                Корзина
            </div>
            <div class="wrap_h_foot">
                <div class="wrap_h_foot_l">
                   <div class="typecateg active">
                        <div>Корзина</div>
                        <div class="greenline"></div>
                    </div>
                    <div class="typecateg">
                        <div>Оформление заказа</div>
                        <div class="greenline"></div>
                    </div>
                       <div class="typecateg">
                        <div>Готово!</div>
                        <div class="greenline"></div>
                    </div>
                </div>
                <div class="wrap_h_foot_r">
                </div>
            </div>
        </div>
    </section>

     <section id="cart_section_1" class="cart_section_1">
         <div class="wraper_cart_step1">
             <div class="left_wc_step1">
                 <div class="wrapper_list_product_cart">
                      {% for product_item in inArrayProducts %}
                     <div class="item_wc_step1">
                        <div class="itme_cart_img">
                                <img src="/media/{{ product_item.1 }}"
                                     width="126"
                                     height="126"
                                alt="Product {{ product_item.3}}" />
                        </div>
                         <div class="item_cart_info_wrapper">
                             <div class="item_cart_product">
                                {{ product_item.3 }}
                             </div>
                             <div class="item_cart_delete">
                                   <img src="{% static 'images/png/delete_cart.png' %}"
                                     width="14"
                                     height="14"
                                     alt="delete item">
                             </div>
                             <div class="cart_about_product">
                                {{ product_item.5 }}
                             </div>
                             <div class="caount_product_count">
                                 <div class="cout_cart">
                                     <div class="cart_minus">
                                           <img  class="img_cart_minus"  src="{% static 'images/png/minus.png' %}"/>
                                     </div>
                                     <div class="cart_count">


                                                  <input type="number"
                                                       value="{{product_item.4}}"
                                                       class="count_product_input" >

                                     </div>
                                     <div class="cart_plus">
                                          <img class="img_cart_pluis"   src="{% static 'images/png/plus.png' %}"/>
                                     </div>
                                 </div>
                                 <div class="cart_price">
                                    {{product_item.6}}
                                 </div>
                             </div>

                         </div>
                     </div>
                     {% endfor %}
                 </div>

             </div>

             <div class="right_wc_step1">
                 <div class="left_r_step1">
                     <div class="wraper_100_l textb_h">
                        <img src="{% static 'images/png/Tag.png' %}"
                                     width="14"
                                     height="14"
                                     alt="Сумма заказа">
                         Сумма заказа
                     </div>
                     <div class="wraper_100_l">
                        <div class="lin_cart_h"></div>
                     </div>
                     <div class="wrapper_cart_itog">
                         <div class="wrapper_cart_itog_text">Сумма товаров</div>
                         <div class="wrapper_cart_itog_price">{{sumProducts}}</div>
                     </div>
                     <div class="wrapper_cart_itog">
                         <div class="wrapper_cart_itog_text">Доставка</div>
                         <div class="wrapper_cart_itog_price">{{dostavkPrice}}</div>
                     </div>
                     <div class="wraper_100_l">
                        <div class="lin_cart_h"></div>
                     </div>
                      <div class="wrapper_cart_itog">
                         <div class="wrapper_cart_itog_text">ИТОГ</div>
                         <div class="wrapper_cart_itog_price_g">{{itogPrice}}</div>
                     </div>

                 </div>
                 <div class="right_r_step1">
                     <p class="cart_p1">  <img src="{% static 'images/png/boxcart.png' %}"
                                     width="48"
                                     height="48"
                                     alt="Сумма заказа"></p>
                     <p  class="cart_p2">Бесплатная доставка</p>
                     <p  class="cart_p3">Доставка в нашем магазине  при заказе на
                         сумму от {{minItogPrice}} абсолютно бесплатна!
                        Добавьте товаров еще на 420₽ и Вам станет
                         доступна бесплатная доставка.</p>
                 </div>
             </div>


             <div class="wrapp100 alltovar">
                <div class="green100"></div>
                <div class="btn_center">
                    <a class="btn_a cart_go_step2">оформить заказ</a>
                </div>
                <div class="green100">
                </div>
            </div>
         </div>
     </section>


{% endblock %}


{% block footerpart %}

{% endblock %}