
{% extends "app.html" %}
{% load static %}

{% block headpart %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}
    <section id="slider" class="slider">
        <div class="div_sliders">
              {% for slider in data_sliders %}
                <div class="item_slider">
                    <picture class="pict_slider">
                          <source media="(max-width: 799px)" srcset="/media/{{ slider.slider_mo }}" />
                          <source media="(min-width: 800px)" srcset="/media/{{ slider.slider_pc }}" />
                          <img src="/media/{{ slider.slider_pc }}"  class="slider_item_img" alt="{{ slider.name }}" />
                    </picture>
                    <div class="html_code">
                        <div class="wrapper_text">
                             {% autoescape off %} {{ slider.text_html }}{% endautoescape %}
                            <a href="" class="slider_btn">Каталог товаров</a>
                        </div>
                    </div>
                    <div class="slider_div_product">
                      <img src="/media/{{ slider.slider_product }}"
                           class="slider_product" alt="Product {{ slider.name }}" />
                    </div>
                </div>
              {% endfor %}
        </div>
    </section>

    <section id="product_top" class="product_top">
        <div class="top_product_title">
            <div class="div_left_product_title text_product_top">Популярные товары</div>
            <div class="div_left_product_title text_product_type">
                <div class="typecateg active">
                    <div>Популярные товары</div>
                    <div class="greenline"></div>
                </div>
                <div class="typecateg">
                    <div>Акции</div>
                    <div class="greenline"></div>
                </div>
            </div>
        </div>
        <div class="top_product_row">
            {% for product_item in data_product_top %}
                <div class="item_product">

                        <div class="div_ico_tovar">
                            {% if product_item.is_top %}
                                <div class="top_ico">TOP</div>
                            {% endif %}

                        </div>

                        <div class="title_name">
                            {{ product_item.name }}
                        </div>
                        <div class="gramm_type">
                            {{ product_item.gramm }} грамм
                        </div>
                        <div class="wrap50">
                            <div>
                                <img src="/media/{{ product_item.image_product }}"
                               class="img_product" alt="Product {{ product_item.name }}" />
                            </div>
                            <div class="product_small">
                                 {{ product_item.text_smmall }}

                                <a href="/product/{{ product_item.id }}" class="show_product">
                                      <img src="{% static 'images/png/show_product.png' %}"
                                         alt="show  {{ product_item.name }}">
                                </a>
                            </div>
                        </div>
                        <div class="price">
                            {{ product_item.price }}
                        </div>
                </div>
            {% endfor %}

            <div class="wrapp100 alltovar">
                <div class="green100"></div>
                <div class="btn_center">
                    <a href="/products" class="btn_a">Все товары</a>
                </div>
                <div class="green100">
                </div>
            </div>
        </div>
    </section>

    <section id="our_advantages" class="our_advantages">
        <div class="title_our_advantages">
            Наши преимущества
        </div>

        <div class="wraper_our_advantages">
            <div class="img_wraper_our_advantages">
                 <img src="{% static 'images/png/4ood.png' %}" alt="food4">

            </div>
            <div class="text_wraper_our_advantages">
                    <div class="wrap_our_adava_item">
                        <div class="adv_img">
                            <div class="adv_img_l">
                                   <img src="{% static 'images/png/1339-sale-outline 1.png' %}"
                                 width="80"
                                 height="80"
                                 alt="food4">
                            </div>

                            <div class="div_tex_our_adv">
                                <div class="title_our_adv">
                                    Регулярные акции и распродажи
                                </div>
                                <div class="text_our_adv">
                                    Заказывайте регулярно и получайте скидки от нашего магазина БАД-ов 4ood
                                </div>
                            </div>
                        </div>
                         <div class="adv_img">
                             <div class="adv_img_l">
                                   <img src="{% static 'images/png/1339-sale-outline 4.png' %}"
                                  width="80"
                                 height="80"
                                 alt="food4">
                            </div>

                            <div class="div_tex_our_adv">
                                <div class="title_our_adv">
                                    Польза для вашего здоровья
                                </div>
                                <div class="text_our_adv">
                                    Заказывайте регулярно и получайте скидки от нашего магазина БАД-ов 4ood
                                </div>
                            </div>
                        </div>
                        <div class="adv_img">
                             <div class="adv_img_l">
                                   <img src="{% static 'images/png/18-location-pin-outline 3.png' %}"
                                  width="80"
                                 height="80"
                                 alt="food4">
                            </div>

                            <div class="div_tex_our_adv">
                                <div class="title_our_adv">
                                    Бесплатная доставка
                                </div>
                                <div class="text_our_adv">
                                   Бесплатная доставка в нашем магазине на сумму заказа от 2000 рублей
                                </div>
                            </div>
                        </div>
                         <div class="adv_img">

                            <div class="adv_img_l">
                                     <img src="{% static 'images/png/1339-sale-outline 2.png' %}"
                                  width="80"
                                 height="80"
                                 alt="food4">
                            </div>


                            <div class="div_tex_our_adv">
                                <div class="title_our_adv">
                                    Сертификация товаров
                                </div>
                                <div class="text_our_adv">
                                  Заказывайте регулярно и получайте скидки от нашего магазина БАД-ов 4ood
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



    </section>


    <section id="our_product_index" class="our_product_index">
        <div class="div_row_pr_in_t">
            <div class="titl_h1">с нами у тебя есть все, чтобы</div>
            <div class="titl_h2">Жить активно</div>
            <div class="titl_t1">Попробуй наши товары для комплексного улучшения физического
                и ментального здоровья, прививающий правильные привычки.</div>
            <div class="row100w">
                <a href="/products" class="btn_a marg_l0">
                    В каталог
                </a>
            </div>
        </div>
        <div class="div_row_pr_in_i">
             <img src="{% static 'images/png/run_w.png'%}"
                                  width="790"
                                 height="560"
                                 alt="food4">
        </div>
    </section>

{% endblock %}


{% block footerpart %}
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('.div_sliders').slick({
          arrows: false,
            dots: false,
            infinite: true,
            speed: 300,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,

        });
    </script>
{% endblock %}