
{% extends "app.html" %}
{% load static %}

{% block headpart %}

{% endblock %}

{% block content %}

    <section id="product_show" class="product_show">
        {% for dataproduct in dataproduct %}
            <div class="show_wrapper_product">
                <div class="wrap_head_show">
                    <a href="/" class="url_notactiv">Главная</a>
                    /
                    <a href="/products" class="url_notactiv">Все товары </a>
                    /
                    <a  class="url_activ">{{dataproduct.name}} </a>
                </div>
            </div>

            <div class="item_tovar">
                <div class="imag_tovar">
                     <img src="/media/{{ dataproduct.image_product }}"
                          class="img_show"
                               alt="Product {{dataproduct.name }}" />
                </div>
                <div class="text_tovar">
                    <div class="wrapper_name">
                        <div class="name_product">
                            {{dataproduct.name}}
                        </div>
                        <div class="text_cod_tovar">
                            Код:  {{dataproduct.id}}
                        </div>
                    </div>
                    <div class="div_gramm">
                        {{ dataproduct.gramm }} грамм
                    </div>
                    <div class="line_tovar">
                    </div>
                    <div class="about_tovar">
                        {{ dataproduct.text_smmall }}
                    </div>
                     <div class="price">
                        {{ dataproduct.price }}
                        <div class="div_button_buy" data-idproduct="{{dataproduct.id}}">
                            Купить
                        </div>
                    </div>
                    <div class="line_tovar">
                    </div>
                      {% csrf_token %}

                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}


{% block footerpart %}



    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
    </script>

    <script>
        $(document).on("click",".div_button_buy",function () {
             alert('11');
             var idProduct=$(this).data('idproduct');
             let url="/ajax_add_cart";
             let csrfmiddlewaretoken=$('input[name="csrfmiddlewaretoken"]').val()
             $.ajax({
                type: "POST",
                url: url,
                data: {
                    'idProduct': idProduct,
                    'csrfmiddlewaretoken':csrfmiddlewaretoken,
                },
                success: function(data) {

                },
                error: function (data) {
                    console.log("errors");
                }
            });
        })
    </script>


{% endblock %}