
{% extends "app.html" %}
{% load static %}

{% block headpart %}

{% endblock %}

{% block content %}
    <section id="head_page" class="head_page">
        <div class="div_head_page">
            <div class="wrapper_head_page">
                <a href="/" class="url_notactiv">Главная</a>
                /
                <a href="/products" class="url_activ">Все товары </a>
            </div>
            <div class="wraper_h1_head">
                Все товары
            </div>
            <div class="wrap_h_foot">
                <div class="wrap_h_foot_l">
                   <div class="typecateg active">
                        <div>Популярные товары</div>
                        <div class="greenline"></div>
                    </div>
                    <div class="typecateg">
                        <div>Акции</div>
                        <div class="greenline"></div>
                    </div>
                </div>
                <div class="wrap_h_foot_r">
                    Сортировка
                    <select class="order_product">
                        <option>Выбирите сортировку</option>
                        <option>Цена (0-9)</option>
                        <option>Цена (9-0)</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

     <section id="product_top" class="product_top">
        <div class="top_product_row">
            {% for product_item in data_product_top %}
                <div class="item_product">

                        <div class="div_ico_tovar">
                            {% if product_item.is_top %}
                                <div class="top_ico">TOP</div>
                            {% endif %}

                        </div>

                        <div class="title_name">
                            {{ product_item.name }}
                        </div>
                        <div class="gramm_type">
                            {{ product_item.gramm }} грамм
                        </div>
                        <div class="wrap50">
                            <div>
                                <img src="/media/{{ product_item.image_product }}"
                               class="img_product" alt="Product {{ product_item.name }}" />
                            </div>
                            <div class="product_small">
                                 {{ product_item.text_smmall }}

                                <a href="/product/{{ product_item.id }}" class="show_product">
                                      <img src="{% static 'images/png/show_product.png' %}"
                                         alt="show  {{ product_item.name }}">
                                </a>
                            </div>
                        </div>
                        <div class="price">
                            {{ product_item.price }}
                        </div>
                </div>
            {% endfor %}

            <div class="wrapp100 alltovar">
                <div class="green100"></div>
                <div class="btn_center">
                    <a class="btn_a">Все товары</a>
                </div>
                <div class="green100">
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block footerpart %}

{% endblock %}